<div class="card-layout-container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <app-card-smM cardData='Start Date'></app-card-smM>
        </div>
        <div class="col-lg-3 col-md-6">
            <app-card-smM cardData='Due Date'></app-card-smM>
        </div>
        <div class="col-lg-3 col-md-6">
            <app-card-smM cardData='Budget'></app-card-smM>
        </div>
        <div class="col-lg-3 col-md-6">
            <app-card-smM cardData='Employees'></app-card-smM>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <app-card-vr-chartM></app-card-vr-chartM>
        </div>
        <div class="col-sm-6">
            <app-card-hr-chartM></app-card-hr-chartM>
        </div>
    </div>
</div>